.footer {
    height: 50px;
    background: rgb(20, 33, 61);
    font-size: 14px;
    color: rgb(252, 163, 17);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    